@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.pk-rider {
  height: 100px;
  animation: appear 400ms ease-out;

  &__container {
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__order {
    position: absolute;
    top: -5px;
    right: -35px;
    opacity: 0;
    border-radius: 10px 10px 10px 0px;
    background-color: #f9cc01;
    padding: 10px;
    animation: appear 300ms 500ms forwards;
  }
}